body {
  background-color: #fa9;
}

mark {
  color: red;
  text-transform: uppercase;
}

a {
  text-decoration: line-through red dotted;
}

p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 24px;
  font-style: italic;
  font-weight: 900;
  text-align: justify;
  line-height: 1.5;
  letter-spacing: 1;
  word-spacing: 3;
  color: #d32ba034;
}

div,
span {
  width: 200px;
  height: 100px;
  border: solid;
  background-color: blueviolet;
}

.padding {
  box-sizing: border-box;
  padding: 20px 40px 0 10px;
}
